 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: "Finger Paint";
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 732px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Finger Paint";
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  width: 725px;
  margin: 60px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 82px;
  min-height: 16px;
  width: 266px;
  min-width: 68px;
  margin: 30px auto 60px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/faccdeb688a15b33af57e731/Untitled-8.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 734px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Finger Paint";
  margin: 123px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  width: 594px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-form-1 {
  height: 48px;
  width: 510px;
  margin: 40px auto 60px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 147px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    margin-top: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -282px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}